<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!-- in body here, we need to put all of the code that goes inside of our application before and after every single page. -->
     before
     <br>

     <%- body %>
    <!-- the < % - body % > thing above is going to include every single other one of our pages right in here in this body page.  -->
     <br>
     After
</body>
</html>