<label>Name</label>
<!-- The 'name' below is acutally how our server gets the data from the object, so 
 when this form sends information to our server, whatever the name is, in our case we are just 
 going to say name="name", this is going to be what the input will be under. 
 body.name will be the value of this input on our server. -->
<input type="text" name="name" value="<%= author.name %>">